<div class="blocklayout">
    <div class="block size-large">
        <div class="main">
            <h1 class="pagetitle">{{ settings.text_head_404 }}</h1>
          <h2>Welcome to our new site!</h2>
          <p>You have most likely landed here because you are a loyal FIORE Olive Oils and Vinegars customer and you have us bookmarked or your computer still has our old site cached. Just <a href="/index">click here</a> to go to our brand new home page or <a href="/search">try a search</a>.</p>
          <p>We hope you enjoy shopping!</p>
        </div>
    </div>
    {% if settings.show_404_sads %}
    {% for i in (1..100) %}
    <div class="block text">
        <div class="main">
            <h2 style="text-align:center"><strong>{% cycle ':(', '404' %}</strong></h2>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>