<div class="block text">
    <div class="main padded{% if settings.lightbox_imgs %} lightboximages{% endif %}">
        <h1 class="pagetitle">{{ page.title }}</h1>  
        {{ page.content }}
    </div>
</div>