<div class="block text">
    <div class="main padded{% if settings.lightbox_imgs %} lightboximages{% endif %}">
        <h1 class="pagetitle">{{ page.title }}</h1>  
        {{ page.content }}
    </div>
   <div class="main form padded sidesonly">
    {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p><strong>Thank you for contacting us!</strong> We'll get back to you as soon as we can.</p>
        {% endif %}
        
        {% if form.errors %}
            <ul>
            {% for field in form.errors %}
                <li class="error">{{ field | replace: 'body','Message' | capitalize }} - {{ form.errors.messages[field] }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <div class="inputrow{% if form.errors contains 'name' %} has-error{% endif %}">
            <label for="contact_name" class="hoverlabel">Name</label>
            <input type="text" data-fieldname="Your name" class="required" id="contact_name" name="contact[name]" />
        </div>
        <div class="inputrow{% if form.errors contains 'email' %} has-error{% endif %}">
            <label for="contact_email" class="hoverlabel">Email Address</label>
            <input type="email" data-fieldname="Your email" class="required" id="contact_email" class="email" name="contact[email]" />
        </div>

   		<div class="inputrow">
            <label for="favorite" class="hoverlabel">What was your favorite new EVOO?</label>
            <select data-fieldname="Your favorite" id="contact_favoriteEVOO" name="contact[favoriteEVOO]" >
              <option>Coratina Gran Cru Extra Virgin Olive Oil from Italy</option>
              <option>Special Miller’s Reserve Extra Virgin Olive Oil from Portugal</option>
              <option>“Melgarejo” Hojiblanca Extra Virgin Olive Oil from Spain</option>
              <option>I loved them all!</option>
        	</select>
        </div> 
        <div class="inputrow">
          	<label for="favorite" class="hoverlabel">What do you like best about being part of Club FIORE?</label>
	   	</div> 
        <div class="inputrow">
          	<input type="checkbox" id="contact_pkgs" name=contact[favorite-pkgs] value="Receiving automatic shipments of amazing FIORE products "/>Receiving automatic shipments of amazingFIORE products
        </div> 
     	<div class="inputrow">
      		<input type="checkbox" id="contact_small" name=contact[favorite-small] value="Previewing special small batch products"/>Previewing special small batch products
        </div> 
       	<div class="inputrow">
            <input type="checkbox" id="contact_discount" name=contact[favorite-discount] value="Getting discounts on FIORE products"/>Getting discounts on FIORE products
        </div> 
          
        <div class="inputrow{% if form.errors contains 'body' %} has-error{% endif %}">
            <label for="message" class="hidden">Tell us more</label>
            <textarea id="message" data-fieldname="Your message" name="contact[body]"></textarea>
        </div>
        <div class="buttonrow">
            <input type="submit" class="button" value="Send" />
        </div>
    {% endform %}
</div>